@font-face {
  font-family: "League Spartan";
  src: url(./fonts/LeagueSpartan-VariableFont_wght.ttf);
}
:root {
  --logoBG: rgb(124, 93, 250);
  --logoLightBG: rgb(146, 119, 255);
  --buttonBG: rgb(124, 93, 250);
  --logoBGHover: rgb(146, 119, 255);
  --boldText: rgb(12, 14, 22);
  --pending: rgb(255, 143, 0);
  --paid: rgb(51, 214, 159);
  --draft: rgb(55, 59, 83);
  --paidbg: rgb(51, 214, 159, 0.06);
  --pendingbg: rgb(255, 143, 0, 0.06);
  --draftbg: rgb(55, 59, 83, 0.06);
  --lighttext: rgb(133, 139, 178);
  --deleteBG: rgb(236, 87, 87);
  --profileLeftBorder: rgb(73, 78, 110);
  --headerBG: rgb(55, 59, 83);
  --contentBG: rgb(248, 248, 251);
  --innerShadow: rgba(72, 84, 159, 0.100397);
  --white: #ffffff;
  --diezi: #7e88c3;
}
body {
  font-family: "League Spartan";
  font-style: normal;
  width: 100%;
  height: 100vh;
  background-color: var(--contentBG);
  overflow-x: hidden;
  min-width: 300px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--headerBG);
  height: 72px;
  user-select: none;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--buttonBG);
  width: 72px;
  height: 72px;
  border-radius: 0px 20px 20px 0px;
  overflow: hidden;
  cursor: pointer;
}
.darklogoBG {
  background-color: var(--buttonBG);
  width: 100%;
  height: 50%;
}
.lightlogoBG {
  background-color: var(--logoLightBG);
  width: 100%;
  height: 50%;
  border-top-left-radius: 50%;
}
.logoimg {
  position: absolute;
}
.profile_pic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 20px 24px;
  cursor: pointer;
}
.day_night {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 20px 24px;
  cursor: pointer;
}
.imgContainer {
  border-left: 1px solid var(--profileLeftBorder);
}
.headerrightEdge {
  display: flex;
  align-items: center;
}
.sectionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 24px;
  user-select: none;
}
.sectionHeaderLeft {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.sectionH4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -0.75px;
  color: var(--boldText);
}
.sectionP {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.1px;
  color: var(--lighttext);
  margin-top: 3px;
}
.sectionHeaderRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18.54px;
}
.filterSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  cursor: pointer;
}
.sectionH6 {
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  text-align: right;
  letter-spacing: -0.25px;
  color: var(--boldText);
}
.addNew {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--buttonBG);
  border-radius: 24px;
  width: 90px;
  height: 44px;
  cursor: pointer;
}
.plussign {
  background-color: var(--white);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 6px;
}
.sectionButtonTxt {
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--white);
  margin-right: 15px;
}
.topbottomspace {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.invoiceContainerInner {
  height: 87px;
  background: var(--white);
  box-shadow: 0px 10px 10px -10px var(--innerShadow);
  border-radius: 8px;
  margin: 0px 24px 16px 24px;
  padding: 25px 24px 22px 24px;
  cursor: pointer;
}
.invoiceContainer {
  width: 100%;
}
.numbercontainer {
  display: flex;
}
.invoiceNum {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--boldText);
}
.numbersign {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--diezi);
}
.contenttopbottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.clientname {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  text-align: right;
  letter-spacing: -0.1px;
  color: var(--lighttext);
}
.invoicedate {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.1px;
  color: var(--lighttext);
}
.invoiceprice {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.25px;
  color: var(--boldText);
}
.bottomleftside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 9px;
}
.invoicestatusPending {
  background-color: var(--pendingbg);
  color: var(--pending);
}
.invoicestatusPaid {
  background-color: var(--paidbg);
  color: var(--paid);
}
.invoicestatusDraft {
  background-color: var(--draftbg);
  color: var(--draft);
}
.statusopacity {
  width: 104px;
  height: 40px;
  mix-blend-mode: normal;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.statustxt {
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-transform: capitalize;
  background: transparent;
}
.statuscircle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.statuscirclepaid {
  background-color: var(--paid);
}
.statuscirclepending {
  background-color: var(--pending);
}
.statuscircledraft {
  background-color: var(--draft);
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--headerBG);
  height: 100px;
  user-select: none;
  margin-top: 50px;
}
.footertext {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.25px;
  text-align: center;
  color: transparent;
  margin-top: 100px;
}
.backoutleft {
  animation-name: backOutLeft;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes backOutLeft {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    transform: translateX(0px) scale(0.95);
    opacity: 0.7;
  }
}
.backOutLeft {
  -webkit-animation: backOutLeft 0.5s;
  animation: backOutLeft 0.5s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
.backbutton {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 23px;
  cursor: pointer;
  text-decoration: none;
}
.backtxt {
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--boldText);
}
.detailedstatus {
  height: 91px;
  background-color: var(--white);
  box-shadow: 0px 10px 10px -10px var(--innerShadow);
  border-radius: 8px;
  margin-top: 31px;
  padding: 0px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.statustxt {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.1px;
  color: var(--lighttext);
}
.statusboxdetailed {
  width: 104px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  gap: 8px;
}

.statuscoloredtxt {
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-transform: capitalize;
}

.detailedstatuscircle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.pendingbg {
  background-color: var(--pendingbg);
}
.pendingcolor {
  color: var(--pending);
}
.pendingcircle {
  background-color: var(--pending);
}
.paidbg {
  background-color: var(--paidbg);
}
.paidcolor {
  color: var(--paid);
}
.paidcircle {
  background-color: var(--paid);
}
.draftbg {
  background-color: var(--draftbg);
}
.draftcolor {
  color: var(--draft);
}
.draftcircle {
  background-color: var(--draft);
}
.invoicedetails {
  background: var(--white);
  box-shadow: 0px 10px 10px -10px var(--innerShadow);
  border-radius: 8px;
}
.invoicedetailsinner {
  padding: 24px;
}
.invoicedetailedp {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.1px;
  color: var(--lighttext);
}
.invoicedetailedGRAND {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1px;
  color: var(--white);
}
.invoicedetailedh {
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--boldText);
}
#invoiceid {
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--boldText);
}
.colordiezi {
  color: var(--lighttext);
}
.displayflex {
  display: flex;
}
.invoicedetailed {
  padding: 33px 24px;
  margin-bottom: 100px;
  display: none;
}

.detailedinvoicenumber {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.detailedinvoiceaddress {
  display: flex;
  flex-direction: column;
}
.detailednumadress {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.detailedadress {
  display: flex;
  justify-content: space-between;
  margin-top: 31px;
}
.detaileddates {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.detaileddatesmain {
  display: flex;
  flex-direction: column;
  gap: 31px;
}
.detaileddatesinner {
  display: flex;
  flex-direction: column;
  gap: 31px;
}
.detailetusername {
  margin: 13px 0px 7px;
}
.lineheightaddress {
  line-height: 18px;
}
.detailedemail {
  display: flex;
  flex-direction: column;
  margin: 32px 0px 38px 0px;
  gap: 13px;
}
.totalamount {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: right;
  letter-spacing: -0.5px;
  color: var(--white);
}
.paymentdetailed {
  height: 80px;
  background-color: var(--headerBG);
  padding: 0px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 0px 8px 8px;
}
.detailedfooter {
  width: calc(100% - 48px);
  margin: 0px -24px;
  padding: 0px 24px;
  height: 91px;
  position: fixed;
  z-index: 101;
  bottom: 0px;
  z-index: 2;
  background: var(--white);
  box-shadow: 0px 10px 10px -10px var(--innerShadow);
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
}
.editbutton {
  width: 23%;
  height: 48px;
  background: #f9fafe;
  border-radius: 24px;
  border-width: 0px;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--lighttext);
  padding: 0px;
  cursor: pointer;
}
.deletebutton {
  width: 28%;
  height: 48px;
  background: #ec5757;
  border-radius: 24px;
  border-width: 0px;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--white);
  padding: 0px;
  cursor: pointer;
}
.marraspaidbutton {
  width: 48%;
  height: 48px;
  background: #7c5dfa;
  border-radius: 24px;
  border-width: 0px;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--white);
  padding: 0px;
  cursor: pointer;
}
.items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  background-color: #f9fafe;
  border-radius: 8px 8px 0px 0px;
  gap: 24px;
}
.itemlist {
  display: flex;
  align-items: center;
}
.itemnameprice {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quantitydiv {
  display: flex;
}
.qtyclass {
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--lighttext);
}
.qtyprice {
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--lighttext);
  margin-left: 3px;
}
.qtytotalprice {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  text-align: right;
  letter-spacing: -0.25px;
  color: var(--boldText);
}
.itemnamedetails {
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--boldText);
}
.itemnamepriceinner {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.empty {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  display: none;
}
.emptyImg {
  height: 160px;
}
.emptyH {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -0.75px;
  color: var(--boldText);
  margin-top: 42px;
}
.emptyP {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.1px;
  color: var(--lighttext);
  margin-top: 23px;
  max-width: 180px;
}
.slide-to-right {
  position: relative;
  right: 0;
  transition: right 0.5s ease-out;
}
.slide-to-right.animate {
  right: 100%;
}
.deletescreen {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px;
  background: var(--white);
  box-shadow: 0px 0px 0px 2000px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  flex-direction: column;
  min-width: 263px;
  display: none;
  z-index: 3;
}

#confirmdelete {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.5px;
  color: var(--boldText);
}
#confirmdeletep {
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: -0.1px;
  color: var(--lighttext);
  margin: 8px 0 22px;
}
#confirmdeletep1 {
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: -0.1px;
  color: var(--lighttext);
  margin: 8px 0 22px;
}
.deletebuttons {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
}
.cancelbutton {
  background: #f9fafe;
  border-radius: 24px;
  border-width: 0px;
  width: 24%;
  height: 48px;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  min-width: 91px;
  color: var(--diezi);
}
.confirmbutton {
  background: #ec5757;
  border-radius: 24px;
  border-width: 0px;
  width: 24%;
  height: 48px;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  min-width: 91px;
  color: var(--white);
}
.confirmbutton1 {
  background: var(--buttonBG);
  border-radius: 24px;
  border-width: 0px;
  width: 45%;
  height: 48px;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  min-width: 91px;
  color: var(--white);
}
.deleteconfirmcontainer {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.sweep-to-left {
  animation: sweep 0.5s ease-out forwards;
}
@keyframes sweep {
  from {
    opacity: 0;
    transform: translateX(0%);
  }
  to {
    opacity: 1;
    transform: translateX(-100%);
  }
}

.sweep-to-right {
  animation: sweepy 0.5s ease-out forwards;
}
@keyframes sweepy {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

/* Create new invoice */
#new_invoice {
  padding: 33px 24px 24px 24px;
  background-color: var(--white);
  margin-bottom: -40px;
  display: none;
}
#newinvoiceH {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.5px;
  color: var(--boldText);
  margin: 26px 0px 22px 0px;
}
.bill_text {
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #7c5dfa;
  margin-bottom: 24px;
}
.create_headers {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.1px;
  color: var(--diezi);
  margin-bottom: 9px;
}
.inputfield {
  width: calc(100% - 42px);
  height: 13px;
  background: var(--white);
  border: 1px solid #dfe3fa;
  border-radius: 4px;
  padding: 18px 20px 15px 20px;
}
input {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--boldText);
  margin-bottom: 25px;
}
.inner_input_div {
  width: 100%;
  justify-content: space-between;
  display: flex;
  gap: 23px;
}
.intoinner {
  width: 100%;
}
#dropdown {
  width: 100%;
  height: 48px;
  background: var(--white);
  border: 1px solid #dfe3fa;
  border-radius: 4px;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--boldText);
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 25px;
}
#dropdown option {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 40px;
  letter-spacing: -0.25px;
  color: var(--boldText);
}
::placeholder {
  opacity: 0.2;
}
.itemqtydiv {
  width: 100%;
  display: flex;
  gap: 16px;
  justify-content: space-between;
}
.counttotalprice {
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--lighttext);
  height: 48px;
  display: flex;
  align-items: center;
}
.qtydiv {
  width: 25%;
}
.pricediv {
  width: 45%;
}
.inputfieldqty {
  width: 50%;
  height: 13px;
  background: var(--white);
  border: 1px solid #dfe3fa;
  border-radius: 4px;
  padding: 18px 20px 15px 20px;
}
.inputfieldprice {
  width: 50%;
  height: 13px;
  background: var(--white);
  border: 1px solid #dfe3fa;
  border-radius: 4px;
  padding: 18px 20px 15px 20px;
}
.deleteicon {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-left: 40px;
  cursor: pointer;
}
.itemlistinner {
  width: 100%;
  margin-bottom: 49px;
}
.itemlistheader {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.375px;
  color: #777f98;
  margin-bottom: 22px;
  margin-top: 44px;
}
.additembox {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9fafe;
  border-radius: 24px;
  height: 48px;
  margin-top: 48px;
  width: 100%;
  border-width: 0px;
  cursor: pointer;
}

.additem {
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.25px;
  color: var(--lighttext);
}
.gredinetfooter {
  margin: 24px -24px -24px -24px;
  width: calc(100% + 48px);
  height: 64px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.0001) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
}
.discardbutton {
  width: 27.4%;
  height: 48px;
  background: #f9fafe;
  border-radius: 24px;
  border-width: 0px;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--lighttext);
  padding: 0px;
  cursor: pointer;
}
.draftbutton {
  width: 37%;
  height: 48px;
  background: #373b53;
  border-radius: 24px;
  border-width: 0px;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #888eb0;
  padding: 0px;
  cursor: pointer;
}
.sendbutton {
  width: 35.8%;
  height: 48px;
  background: #7c5dfa;
  border-radius: 24px;
  border-width: 0px;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--white);
  padding: 0px;
  cursor: pointer;
}
.countrybottommargin {
  margin-bottom: 16px;
}
#style1 {
  display: flex;
}
#style2 {
  display: none;
}

nav {
  margin: auto;
  position: relative;
}

nav h2 {
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--boldText);
  position: relative;
  height: 40px;
  color: inherit;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
}
#toggle {
  position: absolute;
  left: -5px;
  top: 0;
  width: 170%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  height: 30px;
}

#toggle:not(:checked) ~ h2::before {
  transform: rotate(0deg) scale(0.75);
}

#toggle:not(:checked) ~ ul {
  display: none;
}

nav ul {
  width: 100px;
  padding: 20px 0px 0px 20px;
  margin-left: -40px;
  margin-top: 10px;
  background: var(--white);
  box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
  border-radius: 8px;
  list-style: none;
  overflow: hidden;
  text-align: left;
  transition: all 0.4s ease-out;
  position: absolute;
}
nav ul li {
  position: relative;
  display: inline-block;
  line-height: 1.5;
  width: 100%;
  transition: background 3s;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--boldText);
  display: flex;
  gap: 5px;
  align-items: first baseline;
}
.filterDiv {
  display: flex;
  justify-content: center;
  align-content: center;
  height: auto;
}
input[type="checkbox"] {
  position: relative;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #7c5dfa;
  outline: none;
  cursor: pointer;
  background-color: #dfe3fa;
}
input[type="checkbox"]:checked {
  background-color: #7c5dfa;
}
input[type="checkbox"]::before {
  content: "\2713";
  position: absolute;
  top: 1px;
  left: 2.5px;
  font-size: 12px;
  color: var(--white);
  visibility: hidden;
}
input[type="checkbox"]:checked::before {
  visibility: visible;
}
label {
  display: inline-block;
  margin-left: 4px;
}
